h1

{
  color: white
}

body
{
    background-color: rgb(43, 63, 43)  
}

#card

{
  width: 800px; 
 margin:0 auto; 
 background-color: white; 
 text-align: left; 
 align-content: left; 
 }


p {
  /* basic font setting */
  font: roboto;
  text-align: left;
  letter-spacing: 2px;
  color: blue;
}
.p1 {
  color: blue;
  background-color: seashell;
}
span.gras {
  font-weight: bold;
  background-color: seashell;
}
span.grasBG {
  font-weight: bold;
  color: white;
  background-color: blue;
}




#imagesMini{
    overflow:hidden;
    width:auto;
    display:inline;
}
.mini{
    float:right;
    margin-left:20px;
}

