h1

{
  color: white
}

body
{
    background-color: white
}

#card

{
  width: 800px; 
 margin:0 auto; 
 background-color: white; 
 text-align: center; 
 align-content: center; 
 }


#p {
  /* basic font setting */
  font: roboto;
  text-align: center;
  letter-spacing: 2px;
  color: blue;
}
#p1 {
  text-align: center;
  color: blue;
  background-color: seashell;
  
}
#p2 {
  text-align: center;
}

#p3{
  text-align: center;
}
span.gras {
  font-weight: bold;
  background-color: seashell;
}
span.grasBG {
  font-weight: bold;
  color: white;
  background-color: blue;
}


.mini{      
    margin-left:20px;
}

.reseau{    
  margin-left:10px;
  left: 0px ;
}
