h1

{
  color: white
}

body
{
    background-color: rgb(43, 63, 43)  
}

#card

{
  width: 800px; 
 margin:0 auto; 
 background-color: white; 
 text-align: left; 
 align-content: left; 
 }


p {
  /* basic font setting */
  font: roboto;
  font-weight: bold;
  text-align: left;
  letter-spacing: 2px
}

.p1 {
  color: blue;
}
.p2 {
  color: red;
}
.p3 {
  color: yellow;
}
.p4 {
  color: blue;
}
.p5 {
  color: red;
}
.p6 {
  color: yellow;
}
.p7 {
  color: pink;
}